{% load static %}

{% if user.id is not None %}
    <nav class="menu">
        <ul>
            <li class="data-dropdown">
                <a href="/user">PROFİL</a>
                <div class="dropdown">

                    <ul>
                        <li><a href="/user">Account</a></li>
                    </ul>
                    <ul>
                        <li><a href="/user/contents">Blog</a></li>
                    </ul>
                    <ul>
                        <li><a href="/user/comments">Comments</a></li>
                    </ul>
                    <ul>
                        <li><a href="/logout/">Logout</a></li>
                    </ul>

                </div>
            </li>
        </ul>
    </nav>
{% endif %}


<!-- END header -->