{% load static %}

<header role="banner">

    <script>

        $(function () {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandler(event, ui) {
            var selectedObj = ui.item;
        }

    </script>

    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-9 social">
                    <a href="https://twitter.com/altuntasfth"><span class="fa fa-twitter"></span></a>
                    <a href="https://www.facebook.com/altuntasfth"><span class="fa fa-facebook"></span></a>
                    <a href="https://www.instagram.com/fth.altuntas/"><span class="fa fa-instagram"></span></a>

                </div>
                <div class="col-3 search-top">
                    <!-- <a href="#"><span class="fa fa-search"></span></a> -->
                    <form action="/search/" class="search-top-form" method="post">
                        {% csrf_token %}

                        {% load mptt_tags %}
                        <!--<select name="catid" class="search-top">
                            <option class="categories" value="0">Kategoriler</option>
                            {% recursetree category %}
                                {% if node.is_leaf_node %}
                                    <option class="categories" value="{{ node.id }}/{{ node.title }}"></option>
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    <optgroup class="categories" label="{{ node.title }}">
                                        {{ children }}
                                    </optgroup>
                                {% endif %}
                            {% endrecursetree %}
                        </select>
                        -->
                        <button class="icon fa fa-search"></button>
                        <input name="query" type="text" id="query" placeholder="Type keyword to search...">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container logo-wrap">
        <div class="row pt-5">
            <div class="col-12 text-center">
                <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button"
                   aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
                <h1 class="site-logo"><a href="\">#blog</a></h1>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-md  navbar-light bg-light menu">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarMenu">

                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Ana Sayfa</a>
                    </li>

                    {% block sidebar %}
                        {% include "headerSidebar.html" %}
                    {% endblock %}

                    <li class="nav-item">
                        <a class="nav-link" href="/hakkimizda">Hakkımda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/referanslar">Referanslar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/iletisim">İletişim</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
<!-- END header -->