{% load static %}

<nav class="menu">
    <ul>
        <li data-dropdown>
            <a href="#" >KATEGORİ</a>
            <div class="dropdown">
                {% load mptt_tags %}
                {% recursetree category %}
                    <ul>
                        <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                            {% if not node.is_leaf_node %}
                                <div class="dropdown">
                                    <ul class="children">
                                        <a href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a>
                                    </ul>
                                </div>
                            {% endif %}

                        </li>
                    </ul>
                {% endrecursetree %}
            </div>
        </li>
    </ul>
</nav>



<!-- END header -->