{% extends "homebase.html" %}

{% block title %}{{setting.title}}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}"/>
{% endblock %}



{% block slider %}
    {% include "slider.html" %}
{% endblock %}

{% block body %}
    {% include "content.html" %}
{% endblock %}






{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deneme</title>
</head>
<body>
    <h2>Django kurulum : python -m pip install</h2>
    <h2>Proje oluşturma : django-admin startproject mysite</h2>
    <h2>Server çalıştırma : python manage.py runserver</h2>
    <h2>App ekleme : python manage.py startapp home</h2>
    echo "# DjangoBlog" >> README.md
$ git status
$ git add --all .
$ git status
$ git commit -m "Sitede gönderi oluşturmak ve düzenlemek için view'ler eklendi."
$ git push
git init  //Bir kez
git add README.md   //Bir kez
git add .       //Her güncellemede
git commit -m "first commit"   //Her güncellemede
git remote add origin https://github.com/altuntasfth/DjangoBlog.git     //Bir kez
git push -u origin master    //Her güncellemede
git remote add origin https://github.com/altuntasfth/DjangoBlog.git
git push -u origin master
    <p>{{ text }}</p>
</body>
</html>{% endcomment %}
