{% extends "homebase.html" %}

{% block title %}Blog Search Results{% endblock %}
{% block keywords %}{{ categorydata.keywords }}{% endblock %}
{% block description %}{{ categorydata.description }}{% endblock %}
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}"/>
{% endblock %}


{% block content %}
    <div class="section">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-6">
                    <h2 class="mb-4">{{ categorydata.title }}</h2>
                </div>
            </div>
                <div class="row blog-entries">
                    <div class="col-md-12 col-lg-8 main-content">
                        <div class="row mb-5 mt-5">

                        <!--<table>
                            <tr>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Image</th>
                                <th>Price</th>
                            </tr>
                            {% for rs in products %}
                            <tr>
                                <td><h2><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2></td>
                                <td>{{ rs.category }}</td>
                                <td>{{ rs.image.url }}</td>
                                <td>Price</td>
                            </tr>
                            {% endfor %}
                        </table> -->

                            <div class="col-md-12">
                                {% for rs in products %}
                                    <div class="post-entry-horzontal">
                                        <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                            <div class="image element-animate" data-animate-effect="fadeIn"
                                                 style="background-image: url({{ rs.image.url }});"></div>
                                            <span class="text">
                                                    <div class="post-meta">
                                                        <span class="category">{{ rs.category }}</span>
                                                        <span class="mr-2">{{ rs.create_at }}</span> &bullet;
                                                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                                    </div>
                                                    <h2>{{ rs.title }}</h2>
                                                </span>
                                        </a>
                                    </div>
                                    <!-- END post -->
                                {% endfor %}

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <nav aria-label="Page navigation" class="text-center">
                                    <ul class="pagination">
                                        <li class="page-item  active"><a class="page-link" href="#">Prev</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    {% include "sidebar.html" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
