{% extends "homebase.html" %}

{% block title %}{{ product.title }}{% endblock %}
{% block keywords %}{{ product.keywords }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}"/>
{% endblock %}


{% block content %}
    <section class="site-section py-lg">
        <div class="container">

            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">
                    <h1 class="mb-4">{{ product.title }}</h1>
                    <div class="post-meta">
                        <span class="category">{{ product.category }}</span>
                        <span class="mr-2">{{ product.create_at }}</span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                    </div>
                    <div class="post-content-body">
                        <span>{{ product.detail|safe }}</span>
                        <div class="row mb-5">
                            <div class="col-md-12 mb-4 element-animate">
                                <img src="{{ product.image.url }}" alt="Image placeholder" class="img-fluid">
                            </div>
                        </div>

                        <div class="owl-carousel owl-theme home-slider">
                            {% for rs in images %}
                                <div class="a-block d-flex align-items-center height-md">
                                    <img src="{{ rs.image.url }}" alt="Image placeholder" class="img-fluid">
                                </div>
                            {% endfor %}
                        </div>

                    </div>


                    <div class="pt-5">
                        <p>Kategori: <a
                                href="/category/{{ product.category.id }}/{{ product.category.slug }}">{{ product.category }}</a>
                            Etiketler: <a href="#">{{ product.keywords }}</a>, <a href="#">#asia</a></p>
                    </div>


                    <div class="pt-5">
                        <h3 class="mb-5">6 Comments</h3>
                        <ul class="comment-list">
                            {% for rs in comments %}
                                <li class="comment">

                                    <div class="comment-body">
                                        <h3>{{ rs.user.first_name }}</h3>
                                        <div class="meta">{{ rs.create_at }}</div>
                                        <p>{{ rs.comment }}</p>

                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- END comment-list -->


                        <div class="comment-form-wrap pt-5">

                            {% if user.id is not None %}<h3 class="mb-5">Leave a comment</h3>
                                <form action="/product/addcomment/{{ product.id }}" class="p-5 bg-light" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea name="comment" id="message" cols="30" rows="5"
                                                  class="form-control"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Post Comment" class="btn btn-primary">
                                    </div>


                                </form>
                            {% else %}Yorum eklemek için <a href="/login">Giriş</a> yapınız!{% endif %}

                        </div>


                    </div>

                </div>

                <!-- END main-content -->

                {% load static %}
                <div class="col-md-12 col-lg-4 sidebar">

                    <div class="sidebar-box">
                        <div class="bio text-center">
                            <img src="{% static 'images/person_1.jpg' %}" alt="Image Placeholder" class="img-fluid">
                            <div class="bio-body">
                                <h2>Meagan Smith</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt
                                    repellendus
                                    excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias
                                    minus.</p>
                                <p><a href="#" class="btn btn-primary btn-sm">Read my bio</a></p>
                                <p class="social">
                                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END sidebar-box -->

                    <div class="sidebar-box">
                        <h3 class="heading">Popular Posts</h3>
                        <div class="post-entry-sidebar">
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="{% static 'images/img_2.jpg' %}" alt="Image placeholder" class="mr-4">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span> &bullet;
                                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="{% static 'images/img_4.jpg' %}" alt="Image placeholder" class="mr-4">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span> &bullet;
                                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="{% static 'images/img_12.jpg' %}" alt="Image placeholder"
                                             class="mr-4">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span> &bullet;
                                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END sidebar-box -->

                </div>
            </div>
        </div>
    </section>
{% endblock %}





{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deneme</title>
</head>
<body>
    <h2>Django kurulum : python -m pip install</h2>
    <h2>Proje oluşturma : django-admin startproject mysite</h2>
    <h2>Server çalıştırma : python manage.py runserver</h2>
    <h2>App ekleme : python manage.py startapp home</h2>
    echo "# DjangoBlog" >> README.md
git init  //Bir kez
git add README.md   //Bir kez
git add .       //Her güncellemede
git commit -m "first commit"   //Her güncellemede
git remote add origin https://github.com/altuntasfth/DjangoBlog.git     //Bir kez
git push -u origin master    //Her güncellemede
git remote add origin https://github.com/altuntasfth/DjangoBlog.git
git push -u origin master
    <p>{{ text }}</p>
</body>
</html>{% endcomment %}
