{% load static %}
<div class="col-md-12 col-lg-4 sidebar">

    <script>
        $(function () {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });
        function AutoCompleteSelectHandler(event, ui) {
            var selectedObj = ui.item;
        }
    </script>

    <div class="sidebar-box search-form-wrap">
        <!-- <a href="#"><span class="fa fa-search"></span></a> -->
        <form action="/search/" class="search-form" method="post">
            {% csrf_token %}
            <!--
                        {% load mptt_tags %}
                        <select name="catid" class="search-top" id="left">
                            <option class="categories" value="0">Kategoriler</option>
                            {% recursetree category %}
                                {% if node.is_leaf_node %}
                                    <option class="categories" value="{{ node.id }}/{{ node.title }}"></option>
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    <optgroup class="categories" label="{{ node.title }}">
                                        {{ children }}
                                    </optgroup>
                                {% endif %}
                            {% endrecursetree %}
                        </select>
                        -->
            <div class="form-group">
                <button class="icon fa fa-search"></button>
                <input name="query" type="text" id="query" class="form-control" placeholder="Type keyword to search...">
            </div>
        </form>
    </div>

    <div class="sidebar-box">
        <div class="bio text-center">
            <img src="{% static 'images/pp.jpg' %}" alt="Image Placeholder" class="img-fluid">
            <div class="bio-body">
                <h2>Fatih Altuntaş</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt repellendus
                    excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias minus.</p>
                <p><a href="/hakkimizda" class="btn btn-primary btn-sm">Read my bio</a></p>
                <p class="social">
                    <a href="https://www.facebook.com/altuntasfth" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="https://twitter.com/altuntasfth" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="https://www.instagram.com/fth.altuntas/" class="p-2"><span class="fa fa-instagram"></span></a>
                </p>
            </div>
        </div>
    </div>
    <!-- END sidebar-box -->

    <div class="sidebar-box">
        <h3 class="heading">Categories</h3>
        <ul class="categories">
            {% load mptt_tags %}
            {% recursetree category %}
                <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}<span></span></a>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a></li>
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>
    <!-- END sidebar-box -->

    <div class="sidebar-box">
        <h3 class="heading">Popular Posts</h3>
        <div class="post-entry-sidebar">
            <ul>
                <li>
                    <a href="">
                        <img src="{% static 'images/img_2.jpg' %}" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                            <div class="post-meta">
                                <span class="mr-2">March 15, 2018 </span> &bullet;
                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/img_4.jpg' %}" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                            <div class="post-meta">
                                <span class="mr-2">March 15, 2018 </span> &bullet;
                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/img_12.jpg' %}" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                            <div class="post-meta">
                                <span class="mr-2">March 15, 2018 </span> &bullet;
                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END sidebar-box -->


</div>
<!-- END sidebar -->